<!DOCTYPE html>
<html>
<head>
<title>AI Resume Analyzer</title>
<link rel="stylesheet" href="/static/style.css">
</head>

<body>

<h1>AI Resume Analyzer</h1>

<form method="POST" enctype="multipart/form-data">

<label>Upload Resume</label>
<input type="file" name="resume" required>

<label>Job Description</label>
<textarea name="job_description" rows="8" required></textarea>

<button type="submit">Analyze</button>

</form>

{% if score %}

<h2>Match Score: {{score}}%</h2>

<h3>Missing Skills</h3>
<ul>
{% for skill in missing_skills %}
<li>{{skill}}</li>
{% endfor %}
</ul>

{% endif %}

</body>
</html>
